@import "../../global.module.scss";

.wrapper {
  height: $header-height;
  position: fixed;
  width: 100%;
  display: flex;
  padding: $p8 $p32;
  color: $primary-text;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  & > div {
    align-self: center;
    display: flex;
    column-gap: $p8;
  }
}

.searchBar {
  margin-left: auto;
}

.icon {
  max-height: $header-height;
  width: auto;
}

.secondaryButton {
  font-size: $p16;
}
