$primary-text: #212121;
$grey: #9e9e9e;
$secondary-grey: #e0e0e0;

$box-shadow:
  0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$secondary-box-shadow:
  0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$p8: 8px;
$p16: 16px;
$p32: 32px;

$header-height: calc(50px + $p8 + $p8);
